.input-field{
    border: 1px solid #aeaeae;
    border-radius: 4px;
    height: 40px;
    line-height: 40px

}

.input-field:focus{
    /*border: 3px solid chocolate;*/
}

.login-btn{
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    background-color: chocolate;
}